body {
	background: url('images/background.jpg'), repeat-x, center;
}
#all {
    width:1000px;
}
#all > header {
    display: grid
    grid-template-columns: 10% 90%;
}
#all > header > div:first-child > div {
    width:100%;
    display:inline-block;
    text-align: center;
}

#all > header > div:first-child > div:first-child {
    border-left: 5px solid white;
    border-right: 5px solid red;
    margin-bottom: 10px;
}

#all > header > div:first-child > div:last-child {
    border-left: 5px solid blue;
    border-right: 5px solid red;
}