body {
    background: url('/images/background.jpg'), repeat-x, center;
    background-size: cover; 
}
#all {
    width:1000px;
    margin:0 auto;
    /* Z powodu niejednolitej obsługi gradientów oraz dużej złożoności tworzenia, użyłem do gradientu niniejszego generatora: */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,7db9e8+100&0.26+10,0.62+10,0.26+20,0.26+20,0.93+31,0.26+46,0.48+57,0+72,0+72,0.48+79,0.48+79,0+100 */
background: -moz-linear-gradient(45deg, rgba(255,255,255,0.62) 1%, rgba(243,249,253,0.62) 10%, rgba(230,242,251,0.26) 20%, rgba(216,234,248,0.93) 31%, rgba(196,223,245,0.26) 46%, rgba(182,215,242,0.48) 57%, rgba(162,205,239,0) 72%, rgba(153,200,237,0.48) 79%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.62) 1%,rgba(243,249,253,0.62) 10%,rgba(230,242,251,0.26) 20%,rgba(216,234,248,0.93) 31%,rgba(196,223,245,0.26) 46%,rgba(182,215,242,0.48) 57%,rgba(162,205,239,0) 72%,rgba(153,200,237,0.48) 79%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(255,255,255,0.62) 1%,rgba(243,249,253,0.62) 10%,rgba(230,242,251,0.26) 20%,rgba(216,234,248,0.93) 31%,rgba(196,223,245,0.26) 46%,rgba(182,215,242,0.48) 57%,rgba(162,205,239,0) 72%,rgba(153,200,237,0.48) 79%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9effffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#all > header {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 4px 4px 1px rgba(76, 76, 76, 0.6);
	font-weight: bold;
	font-size: 15pt;
}
main {
	font-family: 'calibri light', sans-serif;
	padding: 7px;
	width: 980px;
	margin-top: 15px;
	margin-left: 2px;
	box-shadow: inset 2px 2px 2px 3px rgba(23, 22, 22, 0.6);
}
main > table {
	margin:0 auto;
	border: 1px solid black;
	background-color: white;
}
main > table th {
	border-bottom: 1px solid black;
}
 
